body{
	font-family:ProximaNovaRegular;
	margin:0;
}
.main-header{
	background:url("../image/header-bg.png") no-repeat top center fixed; 
	background-size: cover;
	width: 100vw;
	min-height: 1080px;
	margin:0 auto;
	padding-top:45px; 
}
.conteiner{
	border: 1px solid rgba(0,0,0,0);
	width: 1323px;

	margin: 0 auto;
	min-height: 70px;
}
.clearfix::after{
	content: "";
	display: table;
	clear: both
}
.navigation{
	margin-bottom: 365px;
}
.nav-logo{
	float: left;
	display: inline;
	font-size: 36px;
	line-height: 24px;
	min-height: 70px;
	padding:10px 0;
}
.logo-black{
	font-family:ProximaNovaBold;
	float: left;
}
.logo-white{
	font-family:ProximaNovaRegular;
	float: left;
}
.main-nav{
	display: block;
	float: right;
	min-height: 70px;
	max-width: 1033px;
}
.main-nav a:hover{
	border: 1px solid #5D6264;
	border-radius: 50px; 
	padding: 15px 25px;
	margin:-20px 0;
}
.main-nav ul{
	padding:0;
	margin:0;
	font-size: 0;
	list-style: none;
}
.main-nav li{
	display: inline-block;
	font-size: 18px;
	line-height: 24px;
}
.main-nav a{
	display: block;
	text-decoration: none;
	text-align: center;
	vertical-align: top;
	font-size: 24px;
	line-height: 18px;
	padding: 10px 20px;
	margin-left:25px;
	color: black;
	margin: 20px 0;
}
.header-ctrl{
	position: relative;
	display: block;
	float: left;
	padding: 0 365px;
	text-align: center;
	min-height: 70px;
}
.header-ctrl b{
	text-decoration: none;
	font-family:ProximaNovaBold;
	font-size: 48px;
	line-height: 36px;
}
.header-ctrl p{
	color:#959595;
	font-size: 18px;
	line-height: 30px;
	margin-bottom: 80px;
	margin-top: 8px;
}
.btn{
	border-radius: 50px; 
    background-image: linear-gradient(to right, #54007F, #D90089);
    padding: 16px 55px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
	line-height: 36px;
}
.header-hint{
	margin-top: 375px;
}
.header-hint img{
	position: absolute;
	left: 50%;
	margin-left: -0.5em; 
	padding-bottom: 20px;
}
.header-ctrl span{
	position: absolute;
	left: 50%;
	margin-left: -34px; 
	margin-top: 33px; 
	color: white;
	font-size: 14px;
	line-height: 18px;
}
.top-footer{
	background:url("../image/map-location.png") no-repeat center; 
	background-size: cover;
	width: 100vw;
	min-height: 603px;
	margin:0 auto;
}
.bottom-footer{
	background-color: white;
	background-size: cover;
	width: 100vw;
	min-height: 704px;
	text-align: center;
	position: relative;
	display: block;
	float: left;
}
.bottom-footer p, span{
	color: #BDC2CF;
	font-size: 18px;
	line-height: 36px;
	margin:0;
}
.bottom-footer p{
	margin-top: 70px;
}
.bottom-footer b{
	color:#A6ADBE;
}
